@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "CariEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Cari Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.HiddenFor(x => x.Durum, new { Value = "true" })
    @Html.LabelFor(x => x.CariAd, "Cari Adı")
    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariAd, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.CariSoyad, "Cari Soyadı")
    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSoyad, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.CariSehir, "Cari Şehir")
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSehir, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.CariMail, "Cari Mail")
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariMail, "", new { @class = "text-danger" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

